/.eslintcache
/node_modules
/coverage
/npmDist
/denoDist
/npm
/deno

/.github
/benchmark
/docs
/flow-typed
/integrationTests
/resources
/src
*.json
*.yml
*.tgz
.babelrc-deno.json
.babelrc.json
.browserslistrc
.eslintignore
.eslintrc.yml
.flowconfig
.mocharc.yml
.nycrc.yml
.prettierignore
.prettierrc